################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PingViewer/PingViewer/bin
/PingViewer/.vs
/PingViewer/PingViewer/obj
/.vs/ping_viewer/v17
/.vs